@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-body: "Inter", sans-serif;
  --font-display: "Montserrat", sans-serif;
  --color-brand-indigo: #1e1b4b;
  --color-border-soft: #ececf1;
  --color-surface-soft: #f9fafb;
  --color-accent-yellow: #ffde00;
  --color-accent-yellow-soft: #fffbe6;
}
